@font-face {
  font-family: Orbitron;
  src: url("../fonts/orbitron-medium.otf"); }

.orbitron {
  font-family: Orbitron; }

.orbi-sub {
  font-family: Orbitron;
  border-bottom: 5px solid #00AEEF;
  margin-bottom: 3px;
  display: inline-block; }

body, html {
  margin: 0;
  padding: 0;
  font-size: 90%; }

/* Buttons */
.button-login a {
  border: 1px solid #183C6E;
  background-color: white;
  border-radius: 50px;
  margin: 4px 10px 0 10px;
  padding: 0 !important;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px !important;
  font-weight: 600; }

.button-register a {
  border: 1px solid #183C6E;
  background-color: #183C6E;
  border-radius: 50px;
  margin: 4px 10px 0 10px;
  padding: 0 !important;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px !important;
  font-weight: 600;
  color: white !important; }

.button-donate a {
  border: 1px solid #00AEEF;
  background-color: #00AEEF;
  border-radius: 50px;
  margin: 4px 10px 0 10px;
  padding: 0 !important;
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 14px !important;
  margin-left: 40px;
  margin-right: 100px;
  color: white !important; }

.button-blue {
  background: #183C6E;
  padding: 10px 40px;
  border-radius: 20px;
  color: white !important;
  font-size: 80%; }

.button-white {
  background: url("../img/buttons/white.png") no-repeat center;
  text-align: center;
  width: 194px !important;
  height: 47px !important;
  padding: 82px; }

.btn-rounded {
  padding: 8px 55px;
  background: #D3D6E1;
  color: #183C6E;
  border: 1px solid #D3D6E1;
  border-radius: 20px;
  font-size: 14px; }
  .btn-rounded:focus {
    outline: none; }

.index-register {
  cursor: pointer;
  border-radius: 12px;
  background-color: white;
  border: 1px solid white;
  font-size: 14px;
  letter-spacing: 1px; }

/* End buttons */
/* Navbar related */
nav.navbar {
  background-image: url(../img/backgrounds/navbar.png);
  background-size: cover;
  background-position: left bottom; }

nav .navbar-brand {
  margin-left: 8%; }

.flags {
  display: flex;
  align-items: center; }
  .flags a img {
    margin-right: 6px;
    height: 16px; }

.nav-item {
  background-color: white;
  text-align: center; }
  .nav-item .nav-link.active {
    font-weight: 800;
    border-top: 0px solid transparent;
    border-right: 0px solid transparent;
    border-left: 0px solid transparent;
    border-bottom: 7px solid #F8A736; }

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .active .nav-link {
  color: #183C6E;
  font-size: 16px; }

.nav-item.active, a.nav-link.dropdown-toggle {
  font-weight: 700; }

/* End navbar related */
.intro {
  padding-top: 73px;
  background: url("../img/backgrounds/home.png") no-repeat center;
  background-size: cover;
  height: 100vh; }

.intro-login {
  background: rgba(24, 60, 110, 0.8);
  flex: 1; }

.input-group-addon {
  background: #D3D7E2;
  outline: 0 !important;
  border-radius: 0;
  color: #414587; }

input[type="text"].form-control {
  background: #D3D7E2;
  border-radius: 0;
  padding: 10px; }

.login-googleplus {
  background: #F46741;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 12px; }

.login-facebook {
  background: #0085C7;
  padding: 10px 10px;
  font-weight: 600;
  font-size: 12px; }

.form-group.login-googleplus i.fa, .form-group.login-facebook i.fa {
  margin-right: 8px; }

.section {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
  border-top: 1px solid #C9CFD1;
  border-bottom: 1px solid #C9CFD1;
  background: url("../img/backgrounds/white-bg.jpg");
  background-size: cover; }

footer {
  background: url("../img/backgrounds/white-bg2.jpg") !important;
  background-size: cover;
  background-repeat: no-repeat; }

.dark-blue {
  background: #141E3F; }

.games-bg {
  background: url("../img/backgrounds/games-bg.jpg");
  background-size: cover; }

.orange {
  background: #F99D1B;
  color: white; }
  .orange:hover {
    color: floralwhite; }

.blue {
  background: #183C6E;
  color: white; }
  .blue:hover {
    color: floralwhite; }

.text-dark-blue {
  color: #395883; }

.text-dark-blue-darker {
  color: #141E3F; }

footer {
  padding: 20px 0px 0px 0px; }

.footer-link {
  margin-right: 15px;
  color: #395883; }

.divider-blue {
  border-top: 1px solid #395883; }

.first {
  background: #EFF0F1;
  padding-top: 73px; }

.light {
  font-weight: 400;
  word-spacing: 2px;
  letter-spacing: .2px;
  font-size: 90%;
  line-height: 18px; }

.bold {
  font-weight: 800; }

.green {
  background: #47A92C;
  color: white; }

.blue {
  background: #183C6E;
  color: white; }

.light-gray {
  background: #EFF0F1; }

.date-input {
  background: #EFF0F1;
  border-top: 2px solid #183C6E;
  border-bottom: 2px solid #183C6E;
  border-left: 2px solid #183C6E;
  outline: 0;
  border-radius: 15px 0px 0px 15px;
  padding: 10px; }

.b-0 {
  border: 0; }

.flex {
  flex: 1; }

.py-25 {
  padding: 25px 25px !important; }

.pagination-badge {
  padding: 3px 15px;
  background: #00AEEF;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin: 0px 10px; }

.pagination-badge:hover {
  color: white;
  text-decoration: none; }

ul.paginate {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  width: 300px;
  text-align: center;
  font-weight: bold; }
  ul.paginate li {
    flex: 1; }
  ul.paginate li a {
    color: #9DA0A2; }
  ul.paginate li a:hover {
    color: #505659;
    text-decoration: none; }
  ul.paginate li.active a {
    color: #505659; }

.cyan {
  background: #00AEEF; }

.logo {
  width: 240px;
  margin: 30px 0; }

.mx-1px {
  margin-left: 2px !important;
  margin-right: 2px; }

.btn-group > .btn:first-child {
  border-radius: 10px;
  padding-left: 60px;
  padding-right: 60px; }

.btn-group > .btn:last-child {
  border-radius: 10px;
  padding-right: 60px;
  padding-left: 60px; }

.btn-group > .btn {
  padding-top: 8px;
  padding-bottom: 8px; }
  .btn-group > .btn:hover {
    background-color: #F99D1B; }

.media-body .white-ball {
  background: url("../img/white-ball.png");
  color: #212529;
  width: 65px;
  height: 65px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 69px 69px;
  font-size: 28px;
  font-weight: 100;
  line-height: 39px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

.media-body .red-ball {
  background: url("../img/red-ball.png");
  color: #212529;
  width: 65px;
  height: 65px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 69px 69px;
  font-size: 28px;
  font-weight: 100;
  line-height: 39px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

.media-body .yellow-ball {
  background: url("../img/yellow-ball.png");
  color: #212529;
  width: 65px;
  height: 65px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 69px 69px;
  font-size: 28px;
  font-weight: 100;
  line-height: 39px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

.white-ball {
  background: url("../img/white-ball.png");
  color: #212529;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 54px 54px;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

.yellow-ball {
  background: url("../img/yellow-ball.png");
  color: #212529;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 54px 54px;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

.red-ball {
  background: url("../img/red-ball.png");
  color: #212529;
  width: 50px;
  height: 50px;
  margin: 5px;
  padding: 10px 0;
  border-radius: 50%;
  box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.5);
  background-position: center center;
  background-size: 54px 54px;
  font-size: 24px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  background-repeat: no-repeat;
  display: inline-block; }

a.download {
  font-weight: 700;
  font-size: 16px; }
  a.download i.fa {
    font-size: 48px;
    margin-right: 15px; }

.rounded-bg {
  background: white;
  font-weight: bold;
  padding: 5px 50px;
  border-radius: 15px;
  color: #183C6E; }

.gray {
  background: #F7F7F7; }

.combination-margin {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 20%;
  padding-right: 20%; }

@media only screen and (max-width: 1100px) {
  .combination-margin {
    padding-left: 0;
    padding-right: 0; } }

.stadistics {
  color: black; }
  .stadistics .col-sm-12 p {
    font-size: 20px;
    color: #183C6E;
    font-weight: 100;
    text-align: center;
    margin-top: 20px; }
  .stadistics .vertical {
    font-size: 20px;
    color: #183C6E;
    font-weight: 100;
    text-align: center;
    font-size: 12px;
    writing-mode: tb-rl;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .stadistics .numbers {
    padding: 0; }
    .stadistics .numbers .col-sm-12 {
      font-weight: 100;
      font-size: 22px;
      color: #183C6E;
      padding-left: 0;
      padding-right: 5px;
      padding-bottom: 0;
      height: 50px;
      padding-top: 30px;
      text-align: right; }
  .stadistics .row {
    margin-top: 50px;
    margin-bottom: 50px; }
    .stadistics .row .row {
      margin: 0; }
      .stadistics .row .row .col-sm-1 {
        padding: 0;
        color: #183C6E;
        font-size: 18px;
        font-weight: 300;
        text-align: left; }
  .stadistics .title {
    font-size: 20px;
    font-weight: 100;
    color: #183C6E;
    line-height: 300px; }
  .stadistics .chart {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(100, 1fr);
    grid-column-gap: 5px;
    background: linear-gradient(to bottom, #F7F7F7, #F7F7F7 98%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1));
    background-size: 100% 50px;
    background-position: left top;
    height: 300px;
    width: 100%;
    padding: 5px 0; }
  .stadistics [class*="bar"] {
    width: 40%;
    box-shadow: 0 -50px rgba(0, 174, 239, 0.2);
    margin-bottom: -5px;
    border-radius: 30px 30px 0 0;
    transition: all .6s ease;
    background-color: #00AEEF;
    grid-row-start: 1;
    grid-row-end: 101; }
  .stadistics .bar-1 {
    grid-row-start: 100; }
  .stadistics .bar-2 {
    grid-row-start: 99; }
  .stadistics .bar-3 {
    grid-row-start: 98; }
  .stadistics .bar-4 {
    grid-row-start: 97; }
  .stadistics .bar-5 {
    grid-row-start: 96; }
  .stadistics .bar-6 {
    grid-row-start: 95; }
  .stadistics .bar-7 {
    grid-row-start: 94; }
  .stadistics .bar-8 {
    grid-row-start: 93; }
  .stadistics .bar-9 {
    grid-row-start: 92; }
  .stadistics .bar-10 {
    grid-row-start: 91; }
  .stadistics .bar-11 {
    grid-row-start: 90; }
  .stadistics .bar-12 {
    grid-row-start: 89; }
  .stadistics .bar-13 {
    grid-row-start: 88; }
  .stadistics .bar-14 {
    grid-row-start: 87; }
  .stadistics .bar-15 {
    grid-row-start: 86; }
  .stadistics .bar-16 {
    grid-row-start: 85; }
  .stadistics .bar-17 {
    grid-row-start: 84; }
  .stadistics .bar-18 {
    grid-row-start: 83; }
  .stadistics .bar-19 {
    grid-row-start: 82; }
  .stadistics .bar-20 {
    grid-row-start: 81; }
  .stadistics .bar-21 {
    grid-row-start: 80; }
  .stadistics .bar-22 {
    grid-row-start: 79; }
  .stadistics .bar-23 {
    grid-row-start: 78; }
  .stadistics .bar-24 {
    grid-row-start: 77; }
  .stadistics .bar-25 {
    grid-row-start: 76; }
  .stadistics .bar-26 {
    grid-row-start: 75; }
  .stadistics .bar-27 {
    grid-row-start: 74; }
  .stadistics .bar-28 {
    grid-row-start: 73; }
  .stadistics .bar-29 {
    grid-row-start: 72; }
  .stadistics .bar-30 {
    grid-row-start: 71; }
  .stadistics .bar-31 {
    grid-row-start: 70; }
  .stadistics .bar-32 {
    grid-row-start: 69; }
  .stadistics .bar-33 {
    grid-row-start: 68; }
  .stadistics .bar-34 {
    grid-row-start: 67; }
  .stadistics .bar-35 {
    grid-row-start: 66; }
  .stadistics .bar-36 {
    grid-row-start: 65; }
  .stadistics .bar-37 {
    grid-row-start: 64; }
  .stadistics .bar-38 {
    grid-row-start: 63; }
  .stadistics .bar-39 {
    grid-row-start: 62; }
  .stadistics .bar-40 {
    grid-row-start: 61; }
  .stadistics .bar-41 {
    grid-row-start: 60; }
  .stadistics .bar-42 {
    grid-row-start: 59; }
  .stadistics .bar-43 {
    grid-row-start: 58; }
  .stadistics .bar-44 {
    grid-row-start: 57; }
  .stadistics .bar-45 {
    grid-row-start: 56; }
  .stadistics .bar-46 {
    grid-row-start: 55; }
  .stadistics .bar-47 {
    grid-row-start: 54; }
  .stadistics .bar-48 {
    grid-row-start: 53; }
  .stadistics .bar-49 {
    grid-row-start: 52; }
  .stadistics .bar-50 {
    grid-row-start: 51; }
  .stadistics .bar-51 {
    grid-row-start: 50; }
  .stadistics .bar-52 {
    grid-row-start: 49; }
  .stadistics .bar-53 {
    grid-row-start: 48; }
  .stadistics .bar-54 {
    grid-row-start: 47; }
  .stadistics .bar-55 {
    grid-row-start: 46; }
  .stadistics .bar-56 {
    grid-row-start: 45; }
  .stadistics .bar-57 {
    grid-row-start: 44; }
  .stadistics .bar-58 {
    grid-row-start: 43; }
  .stadistics .bar-59 {
    grid-row-start: 42; }
  .stadistics .bar-60 {
    grid-row-start: 41; }
  .stadistics .bar-61 {
    grid-row-start: 40; }
  .stadistics .bar-62 {
    grid-row-start: 39; }
  .stadistics .bar-63 {
    grid-row-start: 38; }
  .stadistics .bar-64 {
    grid-row-start: 37; }
  .stadistics .bar-65 {
    grid-row-start: 36; }
  .stadistics .bar-66 {
    grid-row-start: 35; }
  .stadistics .bar-67 {
    grid-row-start: 34; }
  .stadistics .bar-68 {
    grid-row-start: 33; }
  .stadistics .bar-69 {
    grid-row-start: 32; }
  .stadistics .bar-70 {
    grid-row-start: 31; }
  .stadistics .bar-71 {
    grid-row-start: 30; }
  .stadistics .bar-72 {
    grid-row-start: 29; }
  .stadistics .bar-73 {
    grid-row-start: 28; }
  .stadistics .bar-74 {
    grid-row-start: 27; }
  .stadistics .bar-75 {
    grid-row-start: 26; }
  .stadistics .bar-76 {
    grid-row-start: 25; }
  .stadistics .bar-77 {
    grid-row-start: 24; }
  .stadistics .bar-78 {
    grid-row-start: 23; }
  .stadistics .bar-79 {
    grid-row-start: 22; }
  .stadistics .bar-80 {
    grid-row-start: 21; }
  .stadistics .bar-81 {
    grid-row-start: 20; }
  .stadistics .bar-82 {
    grid-row-start: 19; }
  .stadistics .bar-83 {
    grid-row-start: 18; }
  .stadistics .bar-84 {
    grid-row-start: 17; }
  .stadistics .bar-85 {
    grid-row-start: 16; }
  .stadistics .bar-86 {
    grid-row-start: 15; }
  .stadistics .bar-87 {
    grid-row-start: 14; }
  .stadistics .bar-88 {
    grid-row-start: 13; }
  .stadistics .bar-89 {
    grid-row-start: 12; }
  .stadistics .bar-90 {
    grid-row-start: 11; }
  .stadistics .bar-91 {
    grid-row-start: 10; }
  .stadistics .bar-92 {
    grid-row-start: 9; }
  .stadistics .bar-93 {
    grid-row-start: 8; }
  .stadistics .bar-94 {
    grid-row-start: 7; }
  .stadistics .bar-95 {
    grid-row-start: 6; }
  .stadistics .bar-96 {
    grid-row-start: 5; }
  .stadistics .bar-97 {
    grid-row-start: 4; }
  .stadistics .bar-98 {
    grid-row-start: 3; }
  .stadistics .bar-99 {
    grid-row-start: 2; }
  .stadistics .bar-100 {
    grid-row-start: 1; }
  .stadistics .bar-101 {
    grid-row-start: 0; }

.text-center {
  text-align: center; }

@media only screen and (min-width: 768px) {
  .coins-bg {
    background-size: 45%;
    background-position: right center;
    background-repeat: no-repeat;
    background-image: url(../img/coins.png); } }

.rifa-disponible {
  padding: 5px 50px;
  margin-left: 20px;
  border-radius: 20px;
  background-color: white;
  font-size: 14px;
  color: #183C6E;
  font-family: 'Arial';
  font-weight: 900; }

@font-face {
  font-family: 'Pocket Calculator';
  src: url("../fonts/pocket_calculator_ot.otf"); }

.counter {
  padding-top: 5%;
  background-image: url("../img/counter.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center top; }
  .counter .row {
    margin-left: auto;
    margin-right: auto; }
    .counter .row .label {
      padding: 0;
      font-size: 24px;
      font-weight: 100;
      text-align: center;
      color: white; }
    .counter .row #remaining-time {
      line-height: 0.7;
      background: -webkit-linear-gradient(#01FF16, white);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 100;
      text-align: center;
      font-size: 84px;
      font-family: 'Pocket Calculator'; }
    @media only screen and (max-width: 1000px) {
      .counter .row #remaining-time {
        font-size: 30px; }
      .counter .row .label {
        font-size: 12px; } }

.input-outline {
  border: 2px solid #183C6E;
  border-radius: 45px;
  padding: 20px 40px;
  background: transparent;
  width: 100%; }
  .input-outline:focus {
    outline: none; }

.login-bg {
  background: url("../img/backgrounds/login-bg.png") no-repeat center;
  background-size: cover; }

.login-card {
  margin-left: 15%;
  margin-right: 15%;
  padding: 3rem 0; }

.login-card-border-radius {
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.login-card-body {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0; }

.tabs-login {
  padding-top: 2.5rem !important;
  padding-bottom: 1.5rem !important;
  color: #999 !important;
  font-size: 14px;
  font-weight: 500; }

.captcha {
  background-image: url("../img/backgrounds/captcha-bg.png");
  background-size: contain;
  background-position: center;
  color: #183C6E;
  padding: 5px 0;
  width: 80%;
  text-align: center;
  letter-spacing: 1;
  font-weight: 600;
  font-size: 20px; }

.login-submit {
  width: 100%;
  background-color: #F99D1C;
  border: 0;
  padding: 1% 0;
  margin: 0;
  color: white;
  font-size: 24px;
  font-weight: 200; }

.login-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding: 15px 25px;
  font-size: 16px;
  color: #999;
  border-top: 0px solid transparent !important;
  border-right: 0px solid transparent !important;
  border-left: 0px solid transparent !important;
  border-bottom: 7px solid #F8A736 !important; }
  .login-control:focus {
    outline: none; }
  .login-control::placeholder {
    color: #999; }

.register-control {
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid #d8d8d8;
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  color: #999; }
  .register-control:focus {
    outline: none; }
  .register-control::placeholder {
    color: #999; }

.light-gray-text {
  color: #d8d8d8; }

.form-submit {
  background: white;
  color: #999;
  border: 1px solid #d8d8d8; }
  .form-submit:hover {
    background: floralwhite;
    cursor: pointer; }

.ml-4 {
  margin-left: 4rem; }

.gold-grad::before {
  background: #FDC217;
  background-image: -webkit-radial-gradient(#FDC217, #FAB932);
  /* Safari 5.1 to 6.0 */
  background-image: -o-radial-gradient(#FDC217, #FAB932);
  /* For Opera 11.6 to 12.0 */
  background-image: -moz-radial-gradient(#FDC217, #FAB932);
  /* For Firefox 3.6 to 15 */
  background-image: radial-gradient(#FDC217, #FAB932);
  /* Standard syntax */
  padding: 5px 0px;
  color: white;
  content: '';
  position: absolute;
  height: 40px;
  width: 60%;
  align-self: flex-start;
  margin-top: -20px;
  border: 1px solid #FAB832;
  border-radius: 0px 0px 60px 60px; }

.little-green {
  background: #00AB60;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 2px 45px; }

.policy-box {
  width: 40%;
  margin: 0 auto;
  background: #F99D1C;
  border-radius: 15px;
  padding: 25px;
  color: white;
  font-weight: 300; }
  .policy-box select {
    background: #FFFFFF;
    border: none;
    border-radius: 0;
    margin: 0px 2px; }
  .policy-box input[type="text"] {
    background: #FFFFFF;
    border-radius: 0; }

.search-group {
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px; }
  .search-group .input-group-addon {
    padding: 15px;
    background: transparent;
    border: none;
    padding-left: 15px;
    color: rgba(0, 0, 0, 0.2); }
  .search-group input.search-input {
    padding: 15px;
    width: 100%;
    background: transparent;
    border: none; }
    .search-group input.search-input:focus {
      outline: none; }

.chat-container {
  margin-bottom: 12px; }
  .chat-container .chat-body {
    border-bottom: 2px solid #C2CACC;
    width: 100%; }
    .chat-container .chat-body span.chat-title {
      color: #505659;
      font-weight: 700; }
    .chat-container .chat-body span {
      color: rgba(0, 0, 0, 0.2);
      font-weight: 700; }
  .chat-container .gray-bordered {
    border: 2px solid #C2CACC; }

.badge-blue {
  background: #0086FA;
  color: white !important;
  border-radius: 100%;
  font-size: 12px; }

.col-auto[align="center"] i.fa.fa-download.text-dark-blue {
  color: #47A92C !important; }

.text-green {
  color: #47A92C !important; }

.scrollable-container {
  overflow-y: scroll;
  padding: 15px 5px; }

#style-4::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5; }

#style-4::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5; }

#style-4::-webkit-scrollbar-thumb {
  background-color: #183C6E;
  border: 2px solid #183C6E; }

.conversation-container {
  height: 100%;
  padding: 15px 15px 30px 30px; }
  .conversation-container span.destination {
    font-weight: 600; }
  .conversation-container .conversation {
    margin-top: 30px;
    font-weight: 600; }
    .conversation-container .conversation span.time {
      font-size: 12px;
      margin-left: 45px;
      font-weight: 600;
      color: #C6CACD;
      padding-top: 3px; }
    .conversation-container .conversation .received {
      height: 80px;
      display: flex;
      align-items: center; }
      .conversation-container .conversation .received .message-container {
        display: flex;
        flex-direction: column; }
        .conversation-container .conversation .received .message-container .message-box {
          background: #E9E8E7;
          padding: 10px 35px 10px 25px;
          color: #6D6E71;
          margin: 0px 25px;
          border-radius: 100px 100px 100px 0px; }
      .conversation-container .conversation .received img {
        float: left;
        border: 2px solid #ccc; }
    .conversation-container .conversation .sent {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .conversation-container .conversation .sent .message-container {
        display: flex;
        flex-direction: column; }
        .conversation-container .conversation .sent .message-container .message-box {
          background: #0086FA;
          padding: 10px 35px 10px 25px;
          border-radius: 100px 100px 0px 100px;
          color: white;
          margin: 0px 25px; }
      .conversation-container .conversation .sent img {
        float: right;
        border: 2px solid #ccc; }

.input-box {
  background: #E9E8E7;
  width: 100%;
  padding: 0px 15px;
  display: flex;
  align-items: center;
  height: 10%; }
  .input-box .addon-left {
    border-radius: 15px 0px 0px 15px;
    background: white; }
    .input-box .addon-left span.fa {
      color: #C6CACD !important; }
  .input-box .addon-right {
    border-radius: 0px 10px 10px 0px;
    background: white; }
    .input-box .addon-right a {
      color: #C6CACD !important;
      font-weight: 600; }
  .input-box .chat-input {
    background: white !important;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    border-left: none;
    border-right: none; }
    .input-box .chat-input:focus {
      outline: 0 none; }

.chat-info {
  background: #F99D1C;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  flex-direction: column;
  padding: 50px;
  text-align: justify; }
  .chat-info h3 {
    font-weight: 600; }
  .chat-info p {
    font-size: 14px; }

.write-dots {
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  float: right;
  margin: 0 5px; }

.dot-1 {
  opacity: 1.00; }

.dot-2 {
  opacity: 0.65; }

.dot-3 {
  opacity: 0.30; }

html {
  height: 100%; }

body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto; }

.footer {
  grid-row-start: 2;
  grid-row-end: 3; }
